/*.button:hover {
    -fx-border-color: rgba(0, 168, 255, 0.5);  Añade un borde azul fino 
    -fx-effect: dropshadow(three-pass-box, rgba(0, 168, 255, 0.6), 15, 0.4, 0, 0);  La estela azul rodea el botón entero
}

.button:pressed {
    -fx-border-color: #00a8ff;  Borde cian sólido e intenso 
    -fx-background-color: rgba(0, 168, 255, 0.2);  Tinte azul muy suave sobre la foto al pulsar 
    -fx-effect: dropshadow(three-pass-box, rgba(0, 168, 255, 0.95), 25, 0.6, 0, 0);  Súper estela brillante exterior 
}*/



 /* ESTELA HOVER: Opacidad, 4 opcion despues RGB) radio, esparcimiento,X , Y */
 .button:hover {
     -fx-border-color: rgba(0, 168, 255, 0.9); 
     -fx-effect: dropshadow(three-pass-box, rgba(0, 168, 255, 1), 35, 0.8, 0, 0); 
 }

.button:pressed {
    -fx-border-color: #00ffff; 
    -fx-effect: dropshadow(three-pass-box, rgba(63, 215, 252, 1), 42, 0.85, 0, 0); 
    -fx-background-color: rgba(63, 215, 252, 0.60); 
}


/*BOTONES PARTIDA GUARDAR/SALIR*/
#b_guardar, #b_guardarSalir, #b_salir {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #2E4B66 0%, #466D94 25%, #375A7F 50%, #466D94 75%, #2E4B66 100%);
    -fx-background-radius: 8px;
    -fx-border-color: linear-gradient(to bottom, #A3E2FF 0%, #FFFFFF 25%, #33BFFF 50%, #FFFFFF 75%, #A3E2FF 100%); /**/
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-text-fill: linear-gradient(to bottom, #A3E2FF 0%, #FFFFFF 25%, #FFFFFF 50%, #FFFFFF 75%, #A3E2FF 100%); /*#33BFFF*/
	-fx-effect: dropshadow(three-pass-box, rgba(0, 168, 255, 0.4), 9, 0.3, 1, 0);
}

#b_guardar:hover, #b_guardarSalir:hover, #b_salir:hover {
   -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #365877 0%, #527fae 25%, #426b96 50%, #527fae 75%, #365877 100%);
    -fx-background-radius: 8px;
    -fx-border-color: linear-gradient(to bottom, #A3E2FF 0%, #FFFFFF 25%, #33BFFF 50%, #FFFFFF 75%, #A3E2FF 100%); /**/
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-text-fill: linear-gradient(to bottom, #A3E2FF 0%, #FFFFFF 25%, #FFFFFF 50%, #FFFFFF 75%, #A3E2FF 100%); /*#33BFFF*/    
    -fx-effect: dropshadow(three-pass-box, #00aaff, 11, 0.5, 0, 0);
}

#b_guardar:pressed, #b_guardarSalir:pressed, #b_salir:pressed {
    -fx-background-color: linear-gradient(from 0% 100% to 0% 0%, #22384D 0%, #395B7D 25%, #2E4B66 50%, #395B7D 75%, #22384D 100%);
    -fx-border-color: linear-gradient(to bottom, #0088CC 0%, #00A8FF 25%, #52C1FF 50%, #00A8FF 75%, #0088CC 100%);
    -fx-text-fill: linear-gradient(to bottom, #33BFFF 0%, #A3E2FF 25%, #0099E6 50%, #A3E2FF 75%, #33BFFF 100%);
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.5), 6, 0.3, 0, 0);
}

/*BOTONES DECIDIR ACUSAR*/
 .button:hover {
     -fx-border-color: rgba(0, 168, 255, 0.9); 
     -fx-effect: dropshadow(three-pass-box, rgba(0, 168, 255, 1), 35, 0.8, 0, 0); 
 }

.button:pressed {
    -fx-border-color: #00ffff; 
    -fx-effect: dropshadow(three-pass-box, rgba(63, 215, 252, 1), 42, 0.85, 0, 0); 
    -fx-background-color: rgba(63, 215, 252, 0.60); 
}


/*MAPA BOTONES*/
#b_despensa:hover, #b_archivo:hover, #b_trono:hover, #b_forja:hover, #b_invernadero:hover, #b_dormitorio:hover {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(63, 215, 252, 1), 6, 0.2, 0, 0);
}

#b_despensa:pressed, #b_archivo:pressed, #b_trono:pressed, #b_forja:pressed, #b_invernadero:pressed, #b_dormitorio:pressed {
    -fx-background-color: transparent;
    -fx-border-color: transparent; 
	-fx-effect: dropshadow(three-pass-box, rgba(0, 168, 255, 1), 8, 0.5, 0, 0);
}





/* ==========================================
   BOTONES: DEDUCIR Y ACUSAR (Fondo Bronce, Texto/Borde Dorado)
   ========================================== */

#b_deducir, #b_acusar {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #4a321a 0%, #704d2b 25%, #5c3e21 50%, #704d2b 75%, #4a321a 100%);
    -fx-background-radius: 8px;
    -fx-border-color: linear-gradient(to bottom, #ffe082 0%, #ffffff 25%, #ffb300 50%, #ffffff 75%, #ffe082 100%);
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-text-fill: linear-gradient(to bottom, #ffe082 0%, #ffffff 25%, #ffffff 50%, #ffffff 75%, #ffe082 100%);
    -fx-effect: dropshadow(three-pass-box, rgba(255, 179, 0, 0.4), 9, 0.3, 1, 0);
}

#b_deducir:hover, #b_acusar:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #5c3e21 0%, #855c34 25%, #704d2b 50%, #855c34 75%, #5c3e21 100%);
    -fx-background-radius: 8px;
    -fx-border-color: linear-gradient(to bottom, #ffe082 0%, #ffffff 25%, #ffb300 50%, #ffffff 75%, #ffe082 100%);
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-text-fill: linear-gradient(to bottom, #ffe082 0%, #ffffff 25%, #ffffff 50%, #ffffff 75%, #ffe082 100%);
    -fx-effect: dropshadow(three-pass-box, #ffb300, 11, 0.5, 0, 0);
}

#b_deducir:pressed, #b_acusar:pressed {
    -fx-background-color: linear-gradient(from 0% 100% to 0% 0%, #362413 0%, #52371d 25%, #4a321a 50%, #52371d 75%, #362413 100%);
    -fx-border-color: linear-gradient(to bottom, #b38000 0%, #ffb300 25%, #ffd54f 50%, #ffb300 75%, #b38000 100%);
    -fx-text-fill: linear-gradient(to bottom, #ffb300 0%, #ffe082 25%, #e6a100 50%, #ffe082 75%, #ffb300 100%);
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 6, 0.3, 0, 0);
}


/*BOTONES DE PISTAS*/

#b_pista1, #b_pista2, #b_pista3 {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #2E4B66 0%, #466D94 25%, #375A7F 50%, #466D94 75%, #2E4B66 100%);
    -fx-background-radius: 8px;
    -fx-border-color: linear-gradient(to bottom, #A3E2FF 0%, #FFFFFF 25%, #33BFFF 50%, #FFFFFF 75%, #A3E2FF 100%);
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-text-fill: linear-gradient(to bottom, #e6e6e6 0%, #ffffff 25%, #f2f2f2 50%, #ffffff 75%, #e6e6e6 100%);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 168, 255, 0.4), 9, 0.3, 1, 0);
}

#b_pista1:hover, #b_pista2:hover, #b_pista3:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #365877 0%, #527fae 25%, #426b96 50%, #527fae 75%, #365877 100%);
    -fx-background-radius: 8px;
    -fx-border-color: linear-gradient(to bottom, #A3E2FF 0%, #FFFFFF 25%, #33BFFF 50%, #FFFFFF 75%, #A3E2FF 100%);
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-text-fill: linear-gradient(to bottom, #ffffff 0%, #ffffff 25%, #ffffff 50%, #ffffff 75%, #ffffff 100%);
    -fx-effect: dropshadow(three-pass-box, #00aaff, 11, 0.5, 0, 0);
}

#b_pista1:pressed, #b_pista2:pressed, #b_pista3:pressed {
    -fx-background-color: linear-gradient(from 0% 100% to 0% 0%, #22384D 0%, #395B7D 25%, #2E4B66 50%, #395B7D 75%, #22384D 100%);
    -fx-border-color: linear-gradient(to bottom, #0088CC 0%, #00A8FF 25%, #52C1FF 50%, #00A8FF 75%, #0088CC 100%);
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-text-fill: linear-gradient(to bottom, #cccccc 0%, #e6e6e6 25%, #d9d9d9 50%, #e6e6e6 75%, #cccccc 100%);
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.4), 6, 0.3, 0, 0);
}


/*COLOR TABLA DATOS*/
#hbox_datosPartida {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #cbbba0 0%, #e3d5be 25%, #d6c7ae 50%, #e3d5be 75%, #cbbba0 100%);
}


/*CAMBIO DE COLOR ACERTADO-EQUIVOCADO*/
.label-acertado {
    -fx-text-fill: #27ae60;
}

.label-normal {
    -fx-text-fill: #c0392b;
}