.root {
	-fx-background-color:radial-gradient(
		center 50% 50%,             
		        radius 60%,                 /* Reducimos el radio para que la penumbra se coma los bordes */
		        transparent 0%,             /* El centro sigue limpio para que se vea la piedra real */
		        rgba(0, 0, 0, 0.40) 25%,    /* Empieza a oscurecer casi al instante */
		        rgba(0, 0, 0, 0.90) 65%,    /* Penumbra muy densa a mitad de camino */
		        rgba(0, 0, 0, 0.98) 85%,    /* Oscuridad prácticamente total antes de llegar al borde */
		        #000000 100%                /* Esquinas negro puro */
		    );
}



#t_nombreUsu {
	-fx-fill: #F2F2F2; 
	  
	    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1.0), 6, 0.0, 2, 2)
	                dropshadow(three-pass-box, rgba(255, 255, 255, 0.4), 1, 0.0, 2, 2);
}


 #t_dificil, #t_facil {
	-fx-fill: #e0dad5; 
	    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1.0), 3, 0.0, 1, 1)
	                dropshadow(three-pass-box, rgba(255, 255, 255, 0.35), 1, 0.0, 1.5, 1.5);
	                
	    -fx-cursor: hand;
}

#tf_nomUser {
   
    -fx-background-color: #F2F2F2; 
    -fx-background-insets: 0;
    -fx-background-radius: 4;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 168, 255, 0.4), 11, 0.3, 2, 1);
}

/* Sombra oscura base para las imágenes */
.image-view {
	-fx-effect: dropshadow(three-pass-box, #1D1E20, 10, 0.0, 4, 3);
} 
	
/* 🔘 ESTADO NORMAL DEL BOTÓN */
#b_nivel1, #b_nivel2, #b_nivel3, #b_nivel4,	#b_nivel5 {
	-fx-text-fill: linear-gradient(to bottom, #A3E2FF 0%, #FFFFFF 25%, #FFFFFF 50%, #FFFFFF 75%, #A3E2FF 100%);
	-fx-background-color: transparent; /* Sigue siendo transparente al inicio */
	-fx-border-color: transparent;     /* El borde está oculto para que no moleste */
	-fx-border-width: 3px;
	-fx-cursor: hand;
}

/* 🔵 AL PASAR EL RATÓN (HOVER): Se ilumina el contorno suavemente */
#b_nivel1:hover, #b_nivel2:hover, #b_nivel3:hover, #b_nivel4:hover,	#b_nivel5:hover {
    -fx-border-color: rgba(0, 168, 255, 0.5); /* Añade un borde azul fino */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 168, 255, 0.6), 15, 0.4, 0, 0); /* La estela azul rodea el botón entero */
}

/* 🔴 AL PRESIONAR (PRESSED): Iluminación intensa en el borde e interior */
#b_nivel1:pressed, #b_nivel2:pressed, #b_nivel3:pressed, #b_nivel4:pressed, #b_nivel5:pressed {
    -fx-border-color: #00a8ff; /* Borde cian sólido e intenso */
    -fx-background-color: rgba(0, 168, 255, 0.2); /* Tinte azul muy suave sobre la foto al pulsar */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 168, 255, 0.95), 25, 0.6, 0, 0); /* Súper estela brillante exterior */
}